@font-face {
    font-family: mainpageFont;
    src: url(/font/font-startrek.ttf);
}

@font-face {
    font-family: mainpagetxt;
    src: url(/font/font-mainpage-txt.ttf);
}

body {
    font-family: mainpageFont;
    margin: 0px;
    background-image: url("/images/startrek-bg.jpg");
    background-position-x: center;
    background-position-y: 11vh;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

.list{
    list-style: none;
    /* padding: 0rem 0.5rem; */
}

.list-inline {
    display:inline;
    padding: 0rem 0.5rem;
}

/***navigation***/

.navigation {
    background-color: black;
    color: white;
    padding: 1rem;
    border-bottom: 1px solid rgb(127, 179, 221);
    position: fixed;
    width: 100%;
}

.navigation .navigation-name {
    font-size: 1.5rem;
    margin-left: 100px;
}
.navigation .nav-links {
    text-decoration: none;
    color:white;
}
.nav-links:hover {
    opacity: 0.7;
}
.navigation .nav-tabs {
    text-align:right;
}

.header {
    padding: 2rem;
    padding-top: 5rem;
}


.header .header-text {
     font-size:50px;
     text-align: center;
     padding-top: 2rem;
     color: white;
     font-weight: lighter;
}

.normal-text {
    font-family: mainpagetxt;
    color: white;
    display: block;
    margin: auto;
    max-width: 800px;
    font-size: larger;
    text-align: center;

}
.block-tabs {
    padding: 1rem;
    text-align: center;
}
.block-tabs .tabs-list{
    display: inline-block;
    border: 1px solid  rgb(127, 179, 221);
    padding: 1rem;
    max-width: 300px;
    color: white;
    font-family: mainpagetxt;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.block-tabs .tab-links {
    
    color:rgb(127, 179, 221);
    border: 1px solid rgb(127, 179, 221);
    font-weight: bolder;
    border-radius: 0.3rem;
}
.tab-links:hover {
    opacity: 0.9;
}